{% extends 'offline_base.html.twig' %}

{% block title %}{{ parent() }} | About{% endblock %}

{% block body %}
    <div class="row vertical-center-container full-page-y">

        <div class="col-10 center-content card p-4">

            <h1 class="h3 mb-2 text-center display-4 font-title">{{ project_title }}</h1>
            <h4 class="text-center mt-3">About</h4>

            <p class="text-center my-4">
                <span class="font-weight-bold">{{ project_title }}</span> est un hommage à Auguste et Louis Lumière.
                <br>
                Thomas est actuellement en train de faire évoluer cette application ! <i class="fas fa-rocket"></i>
            </p>

            <img src="{{ asset('images/popcorn.png') }}" class="mx-auto img-sm" alt="{{ project_title }} logo">
            <div class="text-center">
                Icones réalisés par <a class="text-primary" href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a>
                disponibles sur <a class="text-primary" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.
            </div>

            <img class="mt-4 img-sm" src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=Hoodie&clotheColor=Red&eyeType=Squint&eyebrowType=UpDownNatural&mouthType=Smile&skinColor=Pale'/>
            <div class="text-center">Avatars générés par <a class="text-primary" href="https://github.com/fangpenlin/avataaars-generator" title="avataaars generator website">avataaars generator</a>.</div>

            <a type="button" class="btn btn-sm btn-info mt-4" href="{{ path('home') }}">Retour à {{ project_title }} ici !</a>

        </div>

    </div>
{% endblock %}
