<div class="card-columns">

    {% for movie in movies %}
        <div class="card mb-4">
            {% if movie.poster_path is defined and movie.poster_path and movie.title is defined %}
                <a href="{{ path('movie.details', {'tmdbId': movie.id}) }}">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                </a>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ movie.title is defined  ? movie.title }}</h5>
                <p class="card-overview">{{ movie.overview is defined  ? movie.overview|textLimit(130) }}</p>
                <p class="card-text d-flex justify-content-between align-items-center">

                    {% include 'movie/_viewButton.html.twig' %}

                    <small class="text-muted">{{ movie.release_date is defined  ? movie.release_date }}</small>
            </div>
        </div>
    {% endfor %}

</div>