<div class="card-columns">

    {% for movie in movies %}
        <div class="card mb-4">
            {% if movie.poster_path is defined and movie.poster_path and movie.title is defined %}
                <a href="{{ path('movie.details', {'tmdbId': movie.id}) }}">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                </a>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ movie.title is defined  ? movie.title }}</h5>
                <p class="card-overview">{{ movie.overview is defined  ? movie.overview|textLimit(130) }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        {% include 'opinion/_button.html.twig' %}
                        {% include 'wish/_button.html.twig' %}
                    </div>
                    <small class="text-muted">{{ movie.release_date is defined ? movie.release_date|date("m/d/Y") }}</small>
                </div>
            </div>
        </div>
    {% endfor %}

</div>