{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ movie.title is defined ? movie.title }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 hero-image mb-3" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) {% if movie.backdrop_path is defined %}, url(https://image.tmdb.org/t/p/w1280{{ movie.backdrop_path }}); {% endif %}">
            <div class="hero-text row">
                {% if movie.poster_path is defined and movie.poster_path and movie.title is defined %}
                    <div class="d-none d-md-block col-4">
                        <img class="card-img-top" src="https://image.tmdb.org/t/p/w780{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                    </div>
                {% endif %}
                <div class="col">
                    <h2 class="font-title">{{ movie.title is defined ? movie.title }}</h2>
                    <p class="mb-3"><em>"{{ movie.tagline is defined ? movie.tagline }}"</em></p>
                    <p class="mb-3">{{ movie.overview is defined ? movie.overview }}</p>
                    <p class="mb-3">{{ movie.release_date is defined ? movie.release_date|date("m/d/Y") }}</p>
                    <p class="mb-3">{{ movie.vote_average is defined ? movie.vote_average~'/10' }}</p>
                    <p>{% for genre in movie.genres %}{{ genre.name }}{{ loop.revindex0 == 0 ? null :  ', ' }}{% endfor %}</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center py-2">Commentaires :</h5>
                    {% set isCurrentUserCommentDetected = false %}
                    {% for comment in comments %}
                        <div class="card-text d-flex flex-row">
                            <a href="{{ path('user.show', {'slug': comment.author.slug}) }}">
                                <img class="avatar-small" src="{{ comment.author.avatar|formatAvatarData }}" alt="{{ comment.author }} avatar">
                            </a>
                            <div>
                                <a href="{{ path('user.show', {'slug': comment.author.slug}) }}">{{ comment.author }}</a>
                                <p>{{ comment.content }}</p>
                                {% if comment.view.rate is defined %}
                                    {% if comment.view.rate %}
                                        <img class="rate-emoji-sm" src="{{ comment.view.rate.value|associatedEmojiURL }}" alt="rate emoji">
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if comment.author == app.user %}
                                {% set isCurrentUserCommentDetected = true %}
                                <div class="ml-2">
                                    <span id="movieActionButtonContainer{{ movie.id }}">
                                        {% if movie.id not in app.user.watchedMoviesTmdbIds %}
                                            <button class="btn btn-sm btn-info"
                                                    data-tmdb-id="{{ movie.id }}"
                                                    data-title="{{ movie.title }}"
                                                    data-view-action="create"
                                                    data-view-url="{{ absolute_url(path('view.create', {'tmdbId': movie.id})) }}"><i class="fa fa-eye-slash"></i></button>
                                        {% else %}
                                            <button class="btn btn-sm btn-info"
                                                    data-tmdb-id="{{ movie.id }}"
                                                    data-title="{{ movie.title }}"
                                                    data-view-action="delete"
                                                    data-view-url="{{ absolute_url(path('view.delete', {'tmdbId': movie.id})) }}"><i class="fa fa-eye"></i></button>
                                        {% endif %}
                                     </span>
                                    <button class="btn btn-sm btn-info"
                                            data-tmdb-id="{{ movie.id }}"
                                            data-title="{{ movie.title }}"
                                            data-comment-action="open-form"
                                            data-comment-url="{{ absolute_url(path('comment.form', {'tmdbId': movie.id})) }}"><i class="far fa-comment"></i></button>
                                    <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                </div>
                            {% endif %}
                        </div>
                        <hr class="m-2-vh">
                    {% endfor %}
                    {% if not isCurrentUserCommentDetected %}
                        <div class="ml-2">
                            <span id="movieActionButtonContainer{{ movie.id }}">
                                {% if movie.id not in app.user.watchedMoviesTmdbIds %}
                                    <button class="btn btn-sm btn-info"
                                            data-tmdb-id="{{ movie.id }}"
                                            data-title="{{ movie.title }}"
                                            data-view-action="create"
                                            data-view-url="{{ absolute_url(path('view.create', {'tmdbId': movie.id})) }}"><i class="fa fa-eye"></i></button>
                                {% else %}
                                    <button class="btn btn-sm btn-danger"
                                            data-tmdb-id="{{ movie.id }}"
                                            data-title="{{ movie.title }}"
                                            data-view-action="delete"
                                            data-view-url="{{ absolute_url(path('view.delete', {'tmdbId': movie.id})) }}"><i class="fa fa-eye-slash"></i></button>
                                {% endif %}
                             </span>
                            <button class="btn btn-sm btn-info"
                                    data-tmdb-id="{{ movie.id }}"
                                    data-title="{{ movie.title }}"
                                    data-comment-action="open-form"
                                    data-comment-url="{{ absolute_url(path('comment.form', {'tmdbId': movie.id})) }}">
                                Et toi qu'est-ce que tu en penses ? <i class="far fa-comment"></i>
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('movieDetails') }}
{% endblock %}
