{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ movie.title is defined ? movie.title }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 hero-image mb-3" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) {% if movie.backdrop_path is defined %}, url(https://image.tmdb.org/t/p/w1280{{ movie.backdrop_path }}); {% endif %}">
            <div class="hero-text row">
                {% if movie.poster_path is defined and movie.poster_path and movie.title is defined %}
                    <div class="d-none d-md-block col-4">
                        <img class="card-img-top" src="https://image.tmdb.org/t/p/w780{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                    </div>
                {% endif %}
                <div class="col">
                    <h2 class="font-title">{{ movie.title is defined ? movie.title }}</h2>
                    <p class="mb-3"><em>"{{ movie.tagline is defined ? movie.tagline }}"</em></p>
                    <p class="mb-3">{{ movie.overview is defined ? movie.overview }}</p>
                    <p class="mb-3">{{ movie.release_date is defined ? movie.release_date|date("m/d/Y") }}</p>
                    <p class="mb-3">{{ movie.vote_average is defined ? movie.vote_average~'/10' }}</p>
                    <p>{% for genre in movie.genres %}{{ genre.name }}{{ loop.revindex0 == 0 ? null :  ', ' }}{% endfor %}</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card" id="movieDetailsOpinionDiv">
                <div class="card-body">
                    <h5 class="card-title text-center py-2">Commentaires</h5>
                    {% set isCurrentUserComment = false %}

                    {% for opinion in opinions %}
                        <div class="mb-3-vh">
                            <div id="opinionMovieDetails-{{ opinion.id }}" class="card-text d-flex flex-row">
                                <a style="position: relative" class="mr-2" href="{{ path('user.show', {'slug': opinion.author.slug}) }}">
                                    <img class="avatar-medium" src="{{ opinion.author.avatar|formatAvatarData }}" alt="{{ opinion.author }} avatar">
                                    {% if opinion.rate > 0%}
                                        {% if opinion.rate %}
                                            <img class="rate-emoji-md" style="position: absolute; top: 60px; right: 0;" src="{{ opinion.rate|associatedEmojiURL }}" alt="rate emoji">
                                        {% endif %}
                                    {% endif %}
                                </a>
                                <div class="w-100">
                                    <a class="font-weight-bolder" style="font-size: 1rem" href="{{ path('user.show', {'slug': opinion.author.slug}) }}">{{ opinion.author }}</a>
                                    <p class="text-muted">{{ opinion.createdAt|customDateFormat }}</p>
                                    {% if opinion.isSpoiler %}
                                        <div class="spoiler-guard center-container bg-secondary pointer-cursor" style="border-radius: 5px">
                                            <p class="center-content text-white h6">Spoiler</p>
                                        </div>
                                        <p style="display: none">{{ opinion.comment|nl2br }}</p>
                                    {% else %}
                                        <p>{{ opinion.comment|nl2br }}</p>
                                    {% endif %}
                                </div>
                                {% if opinion.author == app.user %}
                                    {% set isCurrentUserComment = true %}

                                    <button role="button" class="btn btn-xxs btn-dark"
                                            data-title="{{ movie.title }}"
                                            data-opinion-action="open-form"
                                            data-opinion-url="{{ absolute_url(path('opinion.form', {'tmdbId': movie.id})) }}">
                                        <i class="far fa-edit pointer-cursor"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        {% if loop.index != opinions|length %}
                            <hr class="m-2-vh">
                        {% endif %}
                    {% endfor %}

                    {% if isCurrentUserComment == false %}
                        <div class="ml-2 text-center">
                            <button role="button" class="btn btn-sm btn-outline-dark"
                                    data-title="{{ movie.title }}"
                                    data-opinion-action="open-form"
                                    data-opinion-url="{{ absolute_url(path('opinion.form', {'tmdbId': movie.id})) }}">Et toi ? T'en penses quoi ?
                            </button>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('movieDetails') }}
{% endblock %}
