{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ movie.title is defined ? movie.title }}{% endblock %}

{% block body %}

    <section class="row">

        <div class="col-12 col-md-6 offset-lg-1 col-lg-5 text-center">
            <div class="details-movie-card">
                <div class="movie-opinions-indicator">
                    <img src="{{ asset('images/Popcorn.svg') }}" alt="popcorn logo">
                    <span>{{ opinions|length }}</span>
                </div>
                <a href="{{ path('movie.details', {'tmdbId': movie.id}) }}">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                </a>
            </div>
        </div>

        <div id="movieDetailsOpinionDiv" class="col-12 col-md-6 col-lg-5">
            <div class="details-movie-opinions">
                {% for opinion in opinions %}
                    <div id="opinionMovieDetails-{{ opinion.id }}" {{ app.user == opinion.author ? 'class="bg-danger"' }}>
                        <h6 {{ app.user == opinion.author ? 'class="text-white"' }}>{{ opinion.author }}</h6>
                        <p {{ app.user == opinion.author ? 'class="text-white"' }}>
                            <span{{ opinion.isSpoiler ? ' style="color: transparent; text-shadow: 0 0 8px #000;"' }}>{{ opinion.comment|nl2br }}</span>
                            {% if opinion.isSpoiler %}
                                <button class="btn btn-xs btn-danger spoiler-guard">Afficher le spoil</button>
                            {% endif %}
                            {{ opinion.comment is not null ? "<br>" }}
                            {% for i in 1..5 %}
                                {{ i <= opinion.rate ? '<i class="fa fa-star"></i>' : '<i class="far fa-star"></i>' }}
                            {% endfor %}
                        </p>
                        <p {{ app.user == opinion.author ? 'class="text-white"' }}>{{ opinion.updatedAt|date('d/m/Y') }}</p>
                    </div>
                {% else %}
                    <p class="text-center">Aucun de tes abonnements n'a commenté {{ movie.title }}.</p>
                {% endfor %}
                <button role="button" class="btn btn-sm btn-primary mt-2 float-right custom-font-text custom-bold-600"
                        data-title="{{ movie.title }}"
                        data-opinion-action="open-form"
                        data-opinion-url="{{ absolute_url(path('opinion.form', {'tmdbId': movie.id})) }}">Et toi ? T'en penses quoi ?
                </button>
            </div>
        </div>

        <div class="col-12 offset-lg-1 col-lg-10 mt-3 mt-md-0">
            <div class="details-movie row">
                <div class="col-12">
                    <div class="float-right pt-1">
                        {% include 'wish/_buttonContainer.html.twig' with {'movie': movie} %}
                    </div>
                    <h2>
                        {{ movie.title is defined ? movie.title }}
                        {% if movie.tagline != "" %}
                            <br class="d-block d-md-none">
                            <span>"{{ movie.tagline }}"</span>
                        {% endif %}
                    </h2>
                    {% for genre in movie.genres %}
                        <button class="btn btn-xxs btn-danger font-weight-bold" style="font-size: 0.6rem">{{ genre.name|upper }}</button>
                    {% endfor %}
                    {% if movie.overview is defined %}<p class="mt-2">{{ movie.overview }}</p>{% endif %}
                </div>
                <div class=" col-md-10">
                    <p class="mt-2">
                        {% if movie.director is defined %}
                            <span>Réalisé par:</span>
                            {% for director in movie.director %}{{ loop.index > 1 ? loop.index == movie.director|length ? ' et ' : loop.index > 1 ? ', ' }}{{ director.name }}{% endfor %}
                            <br>
                        {% endif %}
                        {% if movie.credits.cast is defined %}
                            Avec:
                            {% for actor in movie.credits.cast %}
                                {% if loop.index <= 5 %}{{ actor.name }}{{ loop.index < 5 ? ', ' : ' ...' }}{% endif %}
                            {% endfor %}
                            <br>
                        {% endif %}
                        {% if movie.scriptwriter is defined %}
                            <span>Scénario:</span>
                            {% for scriptwriter in movie.scriptwriter %}{{ loop.index > 1 ? loop.index == movie.scriptwriter|length ? ' et ' : loop.index > 1 ? ', ' }}{{ scriptwriter.name }}{% endfor %}
                            <br>
                        {% endif %}
                        {% if movie.composer is defined %}
                            <span>Musique:</span>
                            {% for composer in movie.composer %}{{ loop.index > 1 ? loop.index == movie.composer|length ? ' et ' : loop.index > 1 ? ', ' }}{{ composer.name }}{% endfor %}
                            <br>
                        {% endif %}
                        {% if movie.photograph is defined %}
                            <span>Photographie:</span>
                            {% for photograph in movie.photograph %}{{ loop.index > 1 ? loop.index == movie.photograph|length ? ' et ' : loop.index > 1 ? ', ' }}{{ photograph.name }}{% endfor %}
                            <br>
                        {% endif %}
                    </p>
                </div>
                <div class="col-12 col-md-2 text-center">
                    {% if movie['watch/providers']['results']['FR']['flatrate'] is defined %}
                        <p>Disponible:</p>
                        {% for provider in movie['watch/providers']['results']['FR']['flatrate'] %}
                            <img class="mt-2" src="https://image.tmdb.org/t/p/w45{{ provider['logo_path'] }}" alt="provider logo" data-toggle="tooltip" data-placement="bottom" title="{{ provider['provider_name'] }}">
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 offset-lg-1 col-lg-10">
            {% if movie.similar.results is defined %}
                <div class="row">
                    <div class="col-12">
                        <hr class="w-75-centered my-2-vh">
                        <h4 class="custom-bold-500">Si tu as aimé {{ movie.title }} tu aimeras surement:</h4>
                    </div>
                    {% for movie in movie.similar.results|sort((a, b) => a.vote_average <=> b.vote_average)|reverse|slice(0, 6) %}
                        <div class="col-2">
                            <a href="{{ path('movie.details', {'tmdbId': movie.id}) }}">
                                <img class="timeline-poster" src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('movieDetails') }}
{% endblock %}
