{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ movie.title is defined ? movie.title }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 hero-image mb-3" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) {% if movie.backdrop_path is defined %}, url(https://image.tmdb.org/t/p/w1280{{ movie.backdrop_path }}); {% endif %}">
            <div class="hero-text row">
                {% if movie.poster_path is defined and movie.poster_path and movie.title is defined %}
                    <div class="d-none d-md-block col-4">
                        <img class="card-img-top" src="https://image.tmdb.org/t/p/w780{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                    </div>
                {% endif %}
                <div class="col">
                    <h2 class="font-title">{{ movie.title is defined ? movie.title }}</h2>
                    <p class="mb-3"><em>"{{ movie.tagline is defined ? movie.tagline }}"</em></p>
                    <p class="mb-3">{{ movie.overview is defined ? movie.overview }}</p>
                    <p class="mb-3">{{ movie.release_date is defined ? movie.release_date|date("m/d/Y") }}</p>
                    <p class="mb-3">{{ movie.vote_average is defined ? movie.vote_average~'/10' }}</p>
                    <p>{% for genre in movie.genres %}{{ genre.name }}{{ loop.revindex0 == 0 ? null :  ', ' }}{% endfor %}</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-title text-center py-2">Commentaires :</div>
                {% for comment in comments %}
                    <div class="card-text p-4">
                        By : {{ comment.author }} <br>
                        {{ comment.content }} <br>
                        {% if comment.view.rate is defined %}
                            {% if comment.view.rate %}
                                <img style="height: 20px" src="{{ comment.view.rate.value|associatedEmojiURL }}" alt="rate emoji">
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="card-footer">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
