{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Trending{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="card-columns col-10">

            {% for movie in trendingMovies %}
                <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
                <div class="card">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text text-right"><small class="text-muted">{{ movie.release_date }}</small></p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

