{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Trending{% endblock %}

{% block body %}
    <div class="row">
        {% for movie in trendingMovies %}
            {% if movie.poster_path is defined and movie.poster_path and movie.title is defined %}
                <div class="trending-movie-card">
                    <div class="movie-opinions-indicator">
                        <img src="{{ asset('images/popcorn.svg') }}" alt="popcorn logo">
                        <span>{{ opinionsNumberByTrendingMovies[movie.id] is defined ? opinionsNumberByTrendingMovies[movie.id] : 0 }}</span>
                    </div>
                    <a href="{{ path('movie.details', {'tmdbId': movie.id}) }}">
                        <img class="img-fluid" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                    </a>
                    <div class="tags-div">
                        <div class="d-flex justify-content-around">
                            {% for key, genre_id in movie.genre_ids %}
                                {% if key < 3 and genres[genre_id] is defined %}
                                    <button class="btn btn-xxs btn-danger font-weight-bold" style="font-size: 0.6rem">{{ genre_id == 878 ? 'SF' : genres[genre_id]|upper }}</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}