{% block body %}
    {{ form_start(form, {'action': path('comment.create'), 'attr': {'class': 'row'}}) }}

    <div class="col-12 mb-2">
        {{ form_label(form.content, 'Alors ! Pépite ou navet ?') }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control form-control-sm mb-2'}}) }}
    </div>

    <div class="col-12">
        <label class="pointer-cursor">
            {{ form_widget(form.spoiler) }}
            Attention je spoil !
        </label>
        <label class="pointer-cursor">
            {{ form_widget(form.viewed) }}
            J'ai vu ce film
        </label>
    </div>

    <div class="col-12 rating">
        {{ include('rate/_inputs.html.twig') }}
    </div>

    <div class="col-12 text-center pointer-cursor mt-3">
        <button class="btn btn-sm btn-success px-4" type="submit">Valider</button>
    </div>

    {{ form_end(form) }}

    <script>
        rateValue = {{ rate }};
        if (rateValue > 0) {
            document.getElementById(`rating-${ rateValue }`).click();
        }
    </script>
{% endblock %}