<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ asset('images/popcorn.png') }}"/>
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <title>{% block title %}{{ project_title }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
{% include 'layout/sidebar.html.twig' %}
{% include 'layout/header.html.twig' %}
{% include 'layout/search.html.twig' %}
{% include 'layout/alert.html.twig' %}
<div class="container mt-8-vh pb-8-vh">
    {% block body %}{% endblock %}
</div>
{% include 'layout/footer.html.twig' %}
{% include 'layout/modal.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

</html>
