{% if user in app.user.followers %}

    <span class="badge badge-danger pointer-cursor change-icon"
          data-custom-confirm="open"
          data-custom-confirm-configurations='{
            "entity":"relationship",
            "action":"refuse",
            "url": "{{ path('relationship.refuse', {'id': user.id}) }}"
            }'
            data-custom-confirm-text="Es tu sûr de vouloir retirer {{ user }} de tes abonnés ?">
        <i class="fas fa-check"></i>
        <i class="fa fa-times"></i>
   </span>

{% elseif user in app.user.pendingFollowers %}
    <span class="badge badge-danger pointer-cursor"
          data-custom-confirm="open"
          data-custom-confirm-configurations='{
            "entity":"relationship",
            "action":"refuse",
            "url": "{{ path('relationship.refuse', {'id': user.id}) }}"
            }'
          data-custom-confirm-text="Es tu sûr de ne pas accepter {{ user }} comme abonné(e) ?">
        <i class="fas fa-times"></i>
    </span>

    <span class="badge badge-danger pointer-cursor"
          data-relationship-action="accept"
          data-relationship-url="{{ path('relationship.accept_follow', {'id': user.id}) }}">
        <i class="fas fa-check"></i>
    </span>
{% endif %}