<div class="user-panel">

        <span>
            <a href="{{ path('user.show', { 'slug' : user.slug }) }}">
                <button class="btn-avatar" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="avatar-small center-content-horizontally" src="{{ user.avatar|formatAvatarData }}" alt="{{ user }} avatar">
                </button>
                {{ user }}
            </a>
        </span>

    {% if context == "follower" and buttonDisplay is defined %}

        <span id="followerButtonContainer-{{ user.id }}">
            {{ include('user/_partials/_followerButton.html.twig') }}
        </span>

    {% elseif context == "following" and buttonDisplay is defined %}

        <span id="followingButtonContainer-{{ user.id }}">
            {{ include('user/_partials/_followingButton.html.twig') }}
        </span>

    {% endif %}

</div>