<div class="row">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-body row">
                {% for opinion in app.user.opinions|reverse %}
                    <div class="col-12">
                        <h6 class="text-center mb-1">{{ opinion.movie.title }}</h6>
                    </div>
                    <div class="col-4 mb-3">
                        <a href="{{ path('movie.details', {'tmdbId': opinion.tmdbId}) }}">
                            <img class="img-fluid" src="https://image.tmdb.org/t/p/w154{{ opinion.movie.poster_path }}" alt="{{ opinion.movie.title }} poster">
                            {% if opinion.rate > 0 %}
                                <img class="float-right rate-emoji-lg" style="position: absolute; bottom: -5px; right: -5px;" src="{{ opinion.rate|associatedEmojiURL }}" alt="rate emoji">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-8">
                        {% if opinion.comment %}
                            <div class="card-text text-left p-2">
                                <p>{{ opinion.comment|nl2br }}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="card p-3 text-center">
            <p>En cours de développement ...</p>
        </div>
    </div>
</div>
