<div class="row">

    <div class="col-12 col-md-5 mb-4">
        <div class="card">
            <div id="avatar-container" class="card-body text-center">
                <button class="btn btn-sm btn-info modal-avatar-edit" type="button" data-toggle="collapse" data-target="#collapseAvatarEdit" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-edit"></i>
                </button>
                <img class="img-fluid" alt="{{ app.user }} avatar" src='{{ app.user.avatar|formatAvatarData }}'/>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-7">
        <div class="card mb-4 collapse" id="collapseAvatarEdit">
            <div class="card-body">

                {{ form_start(avatarForm, {'action': path('avatar.edit'), 'attr': {'class': 'row'}}) }}

                <div class="col-6">
                    {{ form_label(avatarForm.eyeType) }}
                    {{ form_widget(avatarForm.eyeType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-6">
                    {{ form_label(avatarForm.eyebrowType) }}
                    {{ form_widget(avatarForm.eyebrowType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-6">
                    {{ form_label(avatarForm.mouthType) }}
                    {{ form_widget(avatarForm.mouthType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-6">
                    {{ form_label(avatarForm.skinColor) }}
                    {{ form_widget(avatarForm.skinColor, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-12">
                    {{ form_label(avatarForm.topType) }}
                    {{ form_widget(avatarForm.topType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-6">
                    {{ form_label(avatarForm.accessoriesType) }}
                    {{ form_widget(avatarForm.accessoriesType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-6">
                    {{ form_label(avatarForm.hatColor) }}
                    {{ form_widget(avatarForm.hatColor, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-6">
                    {{ form_label(avatarForm.hairColor) }}
                    {{ form_widget(avatarForm.hairColor, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-6"></div>

                <div class="col-6">
                    {{ form_label(avatarForm.facialHairType) }}
                    {{ form_widget(avatarForm.facialHairType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-6">
                    {{ form_label(avatarForm.facialHairColor) }}
                    {{ form_widget(avatarForm.facialHairColor, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-12">
                    {{ form_label(avatarForm.clotheType) }}
                    {{ form_widget(avatarForm.clotheType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-6">
                    {{ form_label(avatarForm.clotheColor) }}
                    {{ form_widget(avatarForm.clotheColor, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-6">
                    {{ form_label(avatarForm.graphicType) }}
                    {{ form_widget(avatarForm.graphicType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>

                <div class="col-12 text-center mt-4">
                    <button type="submit" class="btn btn-sm btn-success">Sauvegarder mon avatar</button>
                    <button class="btn btn-sm btn-info" type="button" data-toggle="collapse" data-target="#collapseAvatarEdit" aria-expanded="false" aria-controls="collapseExample">
                        Fermer
                    </button>
                </div>

                {{ form_end(avatarForm) }}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}

                {{ form_label(form.firstname, 'Ton prénom :') }}
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control form-control-sm'}}) }}

                {{ form_label(form.lastname, 'Ton prénom :') }}
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control form-control-sm'}}) }}

                {{ form_label(form.email, 'Ton email :') }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm'}}) }}
                <div class="alert-danger">
                    {{ form_errors(form.email) }}
                </div>

                <div class="w-100 text-center mt-4">
                    <button class="btn btn-sm btn-success">Sauvegarder mes informations</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-5">
        <div class="card my-3" id="podiumContainer">

            <div class="row px-4">
                <div class="col-4">
                    <div class="row">
                        <div class="col-12 my-1-vh">
                            <img class="podium-img-2"
                                    {% if podium is not empty and podium[2] %}
                                        src="https://image.tmdb.org/t/p/w154{{ podium[2]['poster_path'] }}" alt="{{ podium[2]['title'] }} poster"
                                    {% else %}
                                        src="https://everyfad.com/static/images/movie_poster_placeholder.29ca1c87.svg" alt="Movie poster placeholder"
                                    {% endif %}
                                 class="podium-img-2"
                                 data-title="Séléctionne ton deuxième film préféré"
                                 data-podium-action="open-form"
                                 data-podium-url="{{ absolute_url(path('podium.form', {'rank': 2})) }}">
                        </div>
                        <div class="col-12 text-center font-weight-bold podium-2" style="height: 30px;">2</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-12 my-1-vh">
                            <img class="podium-img-1"
                                    {% if podium is not empty and podium[1] %}
                                        src="https://image.tmdb.org/t/p/w154{{ podium[1]['poster_path'] }}" alt="{{ podium[1]['title'] }} poster"
                                    {% else %}
                                        src="https://everyfad.com/static/images/movie_poster_placeholder.29ca1c87.svg" alt="Movie poster placeholder"
                                    {% endif %}
                                 data-title="Séléctionne ton film préféré"
                                 data-podium-action="open-form"
                                 data-podium-url="{{ absolute_url(path('podium.form', {'rank': 1})) }}">
                        </div>
                        <div class="col-12 text-center font-weight-bold podium-1" style="height: 50px;">1</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-12 my-1-vh">
                            <img class="podium-img-3"
                                    {% if podium is not empty and podium[3] %}
                                        src="https://image.tmdb.org/t/p/w154{{ podium[3]['poster_path'] }}" alt="{{ podium[3]['title'] }} poster"
                                    {% else %}
                                        src="https://everyfad.com/static/images/movie_poster_placeholder.29ca1c87.svg" alt="Movie poster placeholder"
                                    {% endif %}
                                 data-title="Séléctionne ton troisième film préféré"
                                 data-podium-action="open-form"
                                 data-podium-url="{{ absolute_url(path('podium.form', {'rank': 3})) }}">
                        </div>
                        <div class="col-12 text-center font-weight-bold podium-3" style="height: 20px;">3</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
