<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
    <a class="navbar-brand font-title" href="{{ path('home') }}">
        <img src="{{ asset('images/popcorn.png') }}" class="d-inline-block" alt="{{ project_title }} logo">
        {{ project_title }}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ app.request.get('_route') == 'user.feed' ? 'active'}}">
                <a class="nav-link" href="{{ path('user.feed') }}">Feed</a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'user.list' ? 'active'}}">
                <a class="nav-link" href="{{ path('user.list') }}">User</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item {{ app.request.get('_route') == 'admin.home' ? 'active'}}">
                    <a class="nav-link" href="{{ path('admin.home') }}">Admin</a>
                </li>
            {% endif %}
        </ul>
        <div class="my-2 my-lg-0 dropdown">
            <button class="btn btn-sm btn-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-o"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path('user.edit') }}">{{ app.user }}</a>
                <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Logout <i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>
</nav>