<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
    <a class="navbar-brand font-title" href="{{ path('home') }}">
        <img src="{{ asset('images/popcorn.png') }}" class="d-inline-block" alt="{{ project_title }} logo">
    </a>

    <h1 class="font-title">
        <a href="{{ path('home') }}">{{ project_title }}</a>
    </h1>

    <button class="btn-header-sidebar"><i class="fa fa-bars"></i></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ app.request.get('_route') == 'movie.trending' ? 'active'}}">
                <a class="nav-link" href="{{ path('movie.trending') }}">Tendances</a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'movie.search' ? 'active'}}">
                <a class="nav-link" href="{{ path('movie.search') }}">Recherche</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item {{ app.request.get('_route') == 'admin.home' ? 'active'}}">
                    <a class="nav-link" href="{{ path('admin.home') }}">Admin</a>
                </li>
            {% endif %}
        </ul>
        <div class="dropdown">
            <div class="btn-group">
                <button class="btn btn-sm {{ notifications > 0 ? 'btn-info' : 'btn-light' }}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-bell"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    {% if notifications > 0 %}
                        <a class="dropdown-item" href="{{ path('user.edit') }}">{{ notifications }} Demande{{ notifications > 1 ? 's' }} en attente</a>
                    {% else %}
                        <p class="dropdown-item">Aucune notification</p>
                    {% endif %}
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-sm btn-light btn-avatar" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="avatar-header" src="{{ app.user.avatar|formatAvatarData }}" alt="{{ app.user }} avatar">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path('user.edit') }}"><i class="fa fa-user-edit mr-2"></i>Mon profil</a>
                    <hr class="my-2">
                    <a class="dropdown-item text-danger" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt mr-2"></i>Déconnexion</a>
                </div>
            </div>
        </div>
    </div>
</nav>