<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
    <a class="navbar-brand font-title" href="{{ path('home') }}">
        <img src="{{ asset('images/popcorn.png') }}" class="d-inline-block" alt="{{ project_title }} logo">
        {{ project_title }}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ app.request.get('_route') == 'user.feed' ? 'active'}}">
                <a class="nav-link" href="{{ path('user.feed') }}">Feed</a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'movie.search' ? 'active'}}">
                <a class="nav-link" href="{{ path('movie.search') }}">Movie</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item {{ app.request.get('_route') == 'admin.home' ? 'active'}}">
                    <a class="nav-link" href="{{ path('admin.home') }}">Admin</a>
                </li>
            {% endif %}
        </ul>
        <div class="my-2 my-lg-0 dropdown">
            <div class="btn-group">
                <button class="btn btn-sm {{ notifications > 0 ? 'btn-info' : 'btn-light' }}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-bell"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    {% if notifications > 0 %}
                        <a class="dropdown-item" href="{{ path('user.edit') }}">{{ notifications }} Demande{{ notifications > 1 ? 's' }} en attente</a>
                        {% else %}
                        <p class="dropdown-item">Aucune notification</p>
                    {% endif %}
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-sm btn-light btn-avatar" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-fluid" src="{{ app.user.avatar|formatAvatarData }}" alt="{{ app.user }} avatar">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path('user.edit') }}"><i class="fa fa-user-edit mr-2"></i>Mon profil</a>
                    <a class="dropdown-item text-danger" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="alert" class="custom-alert px-4" role="alert" style="display: none">
    This is a primary alert—check it out!
</div>