<nav class="navbar navbar-expand-md fixed-top bg-white">
    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{ asset('images/logo.svg') }}" alt="{{ project_title }} logo">
    </a>

    <button class="btn-header-sidebar">
        {% if notifications > 0 %}<i class="notifications fa fa-bell"></i>{% endif %}
        <i class="fa fa-bars"></i>
    </button>

    <input id="headerSearchInput" type="text" class="custom-font-text" autocomplete="off" placeholder="Recherche de films et d'amis" data-url="{{ path('search.result', {'text': 'replaceMe'}) }}">
    <i class="fa fa-search"></i>

    <div class="header-right">
        <a href="{{ path('movie.trending') }}" class="custom-font-text">Tendances</a>
        <a href="{{ path('user.edit') }}" id="headerAvatar" class="btn-avatar">
            <img class="avatar-small center-content-horizontally" src="{{ app.user.avatar|formatAvatarData }}" alt="{{ app.user }} avatar">
        </a>
        {% if notifications > 0 %}
            <a href="{{ path('user.edit') }}">
                <i class="notifications fa fa-bell"></i>
            </a>
        {% endif %}
    </div>

</nav>