<div id="sidebar">
    <div class="center-content text-center">
        <a href="{{ path('user.edit') }}">
            <img class="avatar-medium" src="{{ app.user.avatar|formatAvatarData }}" alt="{{ app.user }} avatar">
        </a>
        <br>
        <br>
        <a role="button" class="btn btn-sm px-4 btn-info" href="{{ path('movie.trending') }}">Tendances</a>
        <br>
        <br>
        <a role="button" class="btn btn-sm px-4 btn-info" href="{{ path('movie.search') }}">Recherche</a>
        <br>
        <br>
        <a role="button" class="btn btn-sm px-4 btn-info" id="installButton">Installer</a>
        <br>
        <br>
        {% if is_granted('ROLE_ADMIN') %}
            <a role="button" class="btn btn-sm px-4 btn-outline-info" href="{{ path('admin.home') }}">Admin</a>
        {% endif %}
    </div>
</div>