{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon compte{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-12 col-md-4 order-0">
            <div id="avatar-container" class="text-center">
                <img class="img-fluid" alt="{{ app.user }} avatar" src='{{ app.user.avatar|formatAvatarData }}'/>
                <button class="btn btn-block btn-sm btn-primary mt-2" data-toggle="collapse" data-target="#collapseAvatarEdit" aria-expanded="false">Modifier mon avatar</button>
                <button class="btn btn-block btn-sm btn-primary mt-2"
                data-user-action="open-form"
                data-title="Mes informations"
                data-user-url="{{ path('user.form') }}">Modifier mes informations</button>
                <a href="{{ path('app_logout') }}" class="btn btn-block btn-xs btn-danger text-white mt-2">Me déconnecter</a>
            </div>
        </div>

        <div class="col-12 col-md-8">
            <div id="collapseAvatarEdit" class="mb-4 collapse custom-font-text custom-bold-600">
                {{ form_start(avatarForm, {'action': path('avatar.edit'), 'attr': {'class': 'row'}}) }}
                <div class="col-6">
                    {{ form_label(avatarForm.eyeType) }}
                    {{ form_widget(avatarForm.eyeType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-6">
                    {{ form_label(avatarForm.eyebrowType) }}
                    {{ form_widget(avatarForm.eyebrowType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-6">
                    {{ form_label(avatarForm.mouthType) }}
                    {{ form_widget(avatarForm.mouthType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-6">
                    {{ form_label(avatarForm.skinColor) }}
                    {{ form_widget(avatarForm.skinColor, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-12">
                    {{ form_label(avatarForm.topType) }}
                    {{ form_widget(avatarForm.topType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-6">
                    {{ form_label(avatarForm.accessoriesType) }}
                    {{ form_widget(avatarForm.accessoriesType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-6">
                    {{ form_label(avatarForm.hatColor) }}
                    {{ form_widget(avatarForm.hatColor, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-6">
                    {{ form_label(avatarForm.hairColor) }}
                    {{ form_widget(avatarForm.hairColor, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-6"></div>
                <div class="col-6">
                    {{ form_label(avatarForm.facialHairType) }}
                    {{ form_widget(avatarForm.facialHairType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-6">
                    {{ form_label(avatarForm.facialHairColor) }}
                    {{ form_widget(avatarForm.facialHairColor, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-12">
                    {{ form_label(avatarForm.clotheType) }}
                    {{ form_widget(avatarForm.clotheType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-6">
                    {{ form_label(avatarForm.clotheColor) }}
                    {{ form_widget(avatarForm.clotheColor, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-6">
                    {{ form_label(avatarForm.graphicType) }}
                    {{ form_widget(avatarForm.graphicType, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <div class="col-12 text-center mt-4">
                    <button type="submit" class="btn btn-sm btn-primary mr-2" data-toggle="collapse" data-target="#collapseAvatarEdit">Sauvegarder</button>
                    <button class="btn btn-sm btn-danger" type="button" data-toggle="collapse" data-target="#collapseAvatarEdit" aria-expanded="false" aria-controls="collapseExample">Fermer</button>
                </div>
                {{ form_end(avatarForm) }}
            </div>

            <div class="row relationship-container">
                <div class="col-12 col-md-6">
                    <h5 class="custom-font-text custom-bold-600 text-center">{% if app.user.pendingFollowers|length > 0 %}<span id="pendingFollowerNumberBadge" class="badge badge-danger">{{ app.user.pendingFollowers|length }}</span> {% endif %}Mes abonnés:</h5>
                    <hr class="w-75-centered">
                    {% for user in app.user.pendingFollowers %}
                        {% include 'user/_partials/_userPanel.html.twig' with {'context': 'follower', 'buttonDisplay': true} %}
                    {% endfor %}
                    {% for user in app.user.followers|reverse %}
                        {% include 'user/_partials/_userPanel.html.twig' with {'context': 'follower', 'buttonDisplay': true} %}
                    {% endfor %}
                </div>
                <div class="col-12 col-md-6">
                    <h5 class="custom-font-text custom-bold-600 text-center">Mes abonnements:</h5>
                    <hr class="w-75-centered">
                    {% for user in app.user.pendingFollowings %}
                        {% include 'user/_partials/_userPanel.html.twig' with {'context': 'following', 'buttonDisplay': true} %}
                    {% endfor %}
                    {% for user in app.user.followings|reverse %}
                        {% include 'user/_partials/_userPanel.html.twig' with {'context': 'following', 'buttonDisplay': true} %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <h5 class="custom-font-text"><i class="fas fa-pencil-alt"></i> Mes derniers avis:</h5>
            <hr class="w-75 mb-2">
            {% for opinion in lastCurrentUserOpinions|reverse %}
                <p class="custom-font-text text-justify">
                    <span class="text-danger"><a class="text-danger" href="{{ path('movie.details', {'tmdbId': opinion.tmdbId}) }}">{{ opinion.movie.title }}</a> | </span>
                    {% for i in 1..5 %}
                        {{ i <= opinion.rate ? '<i class="fa fa-star"></i>' : '<i class="far fa-star"></i>' }}
                    {% endfor %}
                    <br>
                    <span{{ opinion.isSpoiler ? ' style="color: transparent; text-shadow: 0 0 8px #000;"' }}>{{ opinion.comment|nl2br }}</span>
                    {% if opinion.isSpoiler %}
                        <button class="btn btn-xs btn-danger spoiler-guard">Afficher le spoil</button>
                    {% endif %}
                </p>
            {% endfor %}
        </div>

        <div class="col-12 col-lg-6 list-container">
            {{ source('@public_path'~asset('/images/ticket.svg')) }}
            <h5 class="custom-font-text d-inline-block">Ma liste:</h5>
            <hr class="w-75 mb-2">
            {% for wish in currentUserWishes|reverse %}
                <a href="{{ path('movie.details', {'tmdbId': wish.tmdbId}) }}">
                    <img src="https://image.tmdb.org/t/p/w154{{ wish.movie.poster_path }}" alt="{{ wish.movie.title }} poster" class="img-fluid mb-1">
                </a>
            {% else %}
                <p>Tu peux ajouter des films en cliquant sur le ticket présent dans les pages détails d'un film.</p>
            {% endfor %}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('userEdit') }}
{% endblock %}