{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Feed{% endblock %}

{% block body %}
    <ul class="timeline">

        {% for event in timeline %}
            <li {{ loop.index is divisible by(2)? 'class="timeline-inverted"'}}>
                <div class="timeline-badge"><i class="fa fa-circle"></i></div>
                <div class="timeline-panel">
                    <div class="card-body row">

                        <div class="col-4">
                            <a href="{{ path('movie.details', {'tmdbId': event.tmdbId}) }}">
                                <img class="img-fluid" src="https://image.tmdb.org/t/p/w154{{ event.movie.poster_path }}" alt="{{ event.movie.title }} poster">
                            </a>
                        </div>
                        <div class="col-8">

                            <div class="card-title d-flex justify-content-between">
                                <div>
                                    <a href="{{ path('user.show', {'slug': event.author.slug}) }}" class="d-flex align-items-center">
                                        <img class="avatar-small" src="{{ event.author.avatar|formatAvatarData }}" alt="{{ event.author }} avatar">
                                        <p>{{ event.author }}</p>
                                    </a>
                                </div>

                                {% if app.user == event.author %}
                                    <i class="fa fa-trash text-danger pointer-cursor" data-view-action="remove" data-url="{{ absolute_url(path('view.remove', {'id': event.id})) }}"></i>
                                {% endif %}
                            </div>

                            <div class="card-text text-left p-2">
                                <p>{{ event.comment ? event.comment.content }}</p>
                                {% if event.rate %}
                                    <p class="text-center mt-2">
                                        <img style="height: 30px" src="{{ event.rate.rate|associatedEmojiURL }}" alt="rate emoji">
                                    </p>
                                {% endif %}
                            </div>

                        </div>

                    </div>
                    <div class="card-footer text-right">
                        <p class="card-text">{{ event.createdAt|historyDateFormat }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}

        <li style="float: none;"></li> {# Timline end #}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('feed') }}
{% endblock %}
