{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Timeline{% endblock %}

{% block body %}
    <ul class="timeline">

        {% if timeline|length == 0 %}
            <div class="card">
                <div class="card-body text-center">
                    <p class="mb-2">Abonnes toi à tes amis si tu veux savoir quels flms ils ont vu !</p>
                    <a role="button" href="{{ path('user.edit') }}" class="btn btn-sm btn-info">Liste d'abonnés</a>
                </div>
            </div>
        {% endif %}

        {% for event in timeline %}
            <li {{ loop.index is divisible by(2)? 'class="timeline-inverted"'}}>
                <div class="timeline-badge"><i class="fa fa-circle"></i></div>
                <div class="timeline-panel">
                    <div class="card-body row">

                        <div class="col-4">
                            <a href="{{ path('movie.details', {'tmdbId': event.tmdbId}) }}">
                                <img class="img-fluid" src="https://image.tmdb.org/t/p/w154{{ event.movie.poster_path }}" alt="{{ event.movie.title }} poster">
                                {% if event.rate > 0 %}
                                    <img class="float-right rate-emoji-lg" style="position: absolute; bottom: -5px; right: -5px;" src="{{ event.rate|associatedEmojiURL }}" alt="rate emoji">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-8">

                            <div class="card-title d-flex justify-content-between">
                                <a href="{{ path('user.show', {'slug': event.author.slug}) }}" class="d-flex align-items-center">
                                    <img class="avatar-small" src="{{ event.author.avatar|formatAvatarData }}" alt="{{ event.author }} avatar">
                                    <p>{{ event.author }}</p>
                                </a>
                            </div>

                            {% if event.comment %}
                                <div class="card-text text-left p-2">
                                    {% if event.isSpoiler %}
                                        <p class="bg-warning pointer-cursor text-center" data-toggle="collapse" data-target="#collapseSpoiler{{ event.id }}">
                                            <i class="fas fa-exclamation-circle"></i> Spoiler - Cliquer pour afficher
                                        </p>
                                        <p class="collapse" id="collapseSpoiler{{ event.id }}">{{ event.comment|nl2br }}</p>
                                    {% else %}
                                        <p>{{ event.comment|nl2br }}</p>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="card-text text-left text-danger p-2">J'ai vu ce film !</div>
                            {% endif %}

                        </div>

                    </div>
                    <div class="card-footer text-right">
                        <p class="card-text">{{ event.createdAt|customDateFormat }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}

        <li style="float: none;"></li> {# Timline end #}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('timeline') }}
{% endblock %}
