{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Timeline{% endblock %}

{% block body %}

    {% if timelineEvents|length == 0 %}
        <div class="card">
            <div class="card-body text-center">
                <p class="mb-2">Abonne toi à tes amis pour savoir quels flms ils ont vu !</p>
                <a role="button" href="{{ path('user.edit') }}" class="btn btn-sm btn-info">Liste d'abonnés</a>
            </div>
        </div>
    {% else %}
        <ul class="timeline">
            {{ include('user/_timeline_events.html.twig') }}
            <li id="loadTimelineEvents" data-offset=0 data-url="{{ path('user.load_timeline_events', {'offset': 0}) }}"><button class="timeline-load"><i class="fas fa-sync-alt"></i></button></li>
            <li style="float: none;"></li> {# Timline end #}
        </ul>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('timeline') }}
{% endblock %}
