{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Feed{% endblock %}

{% block body %}
    <ul class="timeline">

        {% for event in timeline %}
            <li {{ loop.index is divisible by(2)? 'class="timeline-inverted"'}}>
                <div class="timeline-badge"><i class="fa fa-circle"></i></div>
                <div class="timeline-panel">
                    <div class="card-body row">

                        <div class="col-4">
                            <a href="{{ path('movie.details', {'tmdbId': event.tmdbId}) }}">
                                <img class="img-fluid" src="https://image.tmdb.org/t/p/w154{{ event.movie.poster_path }}" alt="{{ event.movie.title }} poster">
                                {% if event.rate %}
                                    <img class="float-right rate-emoji-lg" style="position: absolute; bottom: -5px; right: -5px;" src="{{ event.rate.value|associatedEmojiURL }}" alt="rate emoji">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-8">

                            <div class="card-title d-flex justify-content-between">
                                <a href="{{ path('user.show', {'slug': event.author.slug}) }}" class="d-flex align-items-center">
                                    <img class="avatar-small" src="{{ event.author.avatar|formatAvatarData }}" alt="{{ event.author }} avatar">
                                    <p>{{ event.author }}</p>
                                </a>
                            </div>

                            {% if event.comment %}
                                <div class="card-text text-left p-2">
                                    {% if event.comment.spoiler %}
                                        <p class="bg-warning pointer-cursor text-center" data-toggle="collapse" data-target="#collapseSpoiler{{ event.comment.id }}" aria-expanded="false" aria-controls="collapseSpoiler{{ event.comment.id }}">
                                            <i class="fas fa-exclamation-circle"></i> Spoiler - Cliquer pour afficher
                                        </p>
                                        <p class="collapse" id="collapseSpoiler{{ event.comment.id }}">{{ event.comment.content|nl2br }}</p>
                                    {% else %}
                                        <p>{{ event.comment.content|nl2br }}</p>
                                    {% endif %}
                                </div>
                            {% endif %}

                        </div>

                    </div>
                    <div class="card-footer text-right">
                        <p class="card-text">{{ event.createdAt|customDateFormat }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}

        <li style="float: none;"></li> {# Timline end #}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('userRelationshipHistory') }}
{% endblock %}
